@function feedbackPath($path) {
    @return url('../img/blocks/feedback/'+$path);
}

.feedback {
    padding: rem(133px) 0 rem(256px);
    position: relative;
    &__bg {
        &-left {
            left: rem(-65px);
            top: rem(-93px);
            background-image: feedbackPath('grain1.png'), feedbackPath('coffebean5_2x.png');
            background-size: cover, rem(370px);
            background-position: center, rem(359px) rem(238px);
            width: rem(724px);
            height: rem(769px);
        }
        &-right {
            bottom: rem(13px);
            right: rem(-175px);
            background-image: feedbackPath('coffebean5_2x.png');
            opacity: .12;
            width: rem(370px);
            height: rem(358px);
            transform: scaleY(-1);
        }
    }
    &-title {
        text-align: left;
        border-bottom: rem(1px) solid black;
        padding: 0 0 rem(10px);
        margin-bottom: rem(21px);
    }
    &-subtitle {
        text-align: left;
    }
    &-wrap {
        margin-left: rem(419px);
    }
    &-form {
        margin-top: rem(96px);
        &-section {
            display: table-cell;
            width: 50%;
            &_right {
                text-align: right;
                vertical-align: bottom;
                padding-bottom: rem(2px);
            }
        }
    }
    &__submit {
        position: relative;
        margin-right: rem(67px);
        padding-left: rem(88px);
        padding-right: rem(88px);
        font-size: rem(16px);
        letter-spacing: .12em;
        &:after {
            position: absolute;
            display: block;
            content: '';
            height: 100%;
            width: 100%;
            background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 110 28'%3E    %3Cpath stroke='%23000' d='M110 14L97 1M1 14h109M110 14L97 27'/%3E%3C/svg%3E");
            background-size: rem(110px);
            background-repeat: no-repeat;
            top: 0;
            right: rem(-68px);
            background-position: center right;
        }
    }
}