@function galleryPath($path) {
    @return url('../img/blocks/gallery/'+$path);
}

.gallery {
    background-image: url('../img/layout/mask-white-top.png'), url('../img/layout/mask-white.png'), galleryPath('background.png');
    background-size: contain, contain, cover;
    background-position: top center, bottom center, center center;
    background-repeat: no-repeat;
    padding: rem(135px) 0 rem(171px);
    &-title {
        &-wrap {
            margin-bottom: rem(10px);
        }
        position: relative;
        margin: 0;
        &:before,
        &:after {
            position: absolute;
            content: '';
            height: 100%;
            width: rem(32px);
            background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.192667 13.5936' height='13.594' width='30.193'%3E    %3Cg fill='%23fefdf9'%3E        %3Cpath d='M0 2.018h21.523V0H0zM0 7.806h30.193v-2.02H0zM0 13.594h21.523v-2.018H0z'/%3E    %3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: rem(32px);
            background-position: center;
            top: 0;
        }
        &:before {
            left: rem(-71px);
            transform: scaleX(-1);
        }
        &:after {
            right: rem(-71px);
        }
    }
    &-slider {
        @extend %list;
        margin-top: rem(72px);
        &-list {
            height: 100%;
            @extend %list;
        }
        &-item {
            height: 100%;
            height: rem(503.5px);
            margin: 0 rem(26.5px);
            outline: none;
        }
        img {
            max-height: 100%;
        }
        &-nav {
            text-align: center;
            margin-top: rem(67px);
        }
        &__toggle {
            width: rem(67px);
            height: rem(67px);
            padding: 0;
            background: none;
            border: rem(1px) solid $gold;
            display: inline-block;
            vertical-align: middle;
            &:focus {
                outline-color: $gold;
            }
            &:hover {
                background: $gold;
            }
            &:before {
                display: block;
                position: absolute;
                content: '';
                width: rem(109px);
                height: rem(67px);
                background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 110 28'%3E    %3Cpath stroke='%23fff' d='M1 14L14 1M1 14h109M1 14l13 13'/%3E%3C/svg%3E");
                background-position: center center;
                background-repeat: no-repeat;
            }
            &_prev {
                margin-right: rem(106px);
                &:before {
                    margin-left: rem(27px);
                }
            }
            &_next {
                margin-left: rem(106px);
                &:before {
                    transform: scaleX(-1);
                    margin-left: rem(-69px);
                }
            }
        }
        &__text {
            font-size: rem(19.5px);
            color: $gold;
        }
        &__count {
            font-size: rem(30px);
        }
    }
}