.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-left: rem(332px);
    color: white;
    a {
        color: white;
        &:focus {
            outline: none;
            color: $gold;
        }
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: rem(229px);
        height: rem(149px);
        height: 150%;
        background: url('../img/logo.png');
        background-size: rem(229px);
        background-position: center bottom;
        background-repeat: no-repeat;
        left: rem(71px);
        bottom: rem(-72px);
    }
    @extend %clearfix;
    &-logo {
        width: rem(300px);
        margin-left: rem(32px);
    }
    &-right {
        float: right;
        text-align: right;
        width: 100%;
        outline-offset: -2px;
        border-bottom: rem(1px) solid rgba(white, .42);
        &:before {
            content: '';
            width: rem(32px);
            top: 100%;
            left: 0;
            display: block;
            position: absolute;
            border-bottom: rem(1px) solid rgba(white, .42);
        }
    }
    &__tel {
        display: inline-block;
        vertical-align: middle;
        margin-right: rem(21px);
        a {
            display: block;
            padding: 0 rem(23px);
            font-size: rem(26px);
            text-decoration: none;
            font-family: 'Roboto';
            font-weight: bold;
            letter-spacing: -.04em;
            &:hover {
                color: $gold;
            }
        }
    }
}

.nav {
    display: inline-block;
    vertical-align: middle;
    margin-top: rem(2px);
    margin-right: rem(97px);
    position: relative;
    ul {
        @extend %list;
    }
    li {
        display: inline-block;
        margin-right: rem(46px);
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        &:before {
            display: block;
            content: '';
            background: white;
            border-radius: 50%;
            width: rem(5px);
            height: rem(5px);
            position: absolute;
            left: rem(-25px);
            top: 50%;
            transform: translateY(-50%);
        }
        &:first-child {
            &:before {
                content: none;
            }
        }
    }
    a {
        @extend %title;
        text-decoration: none;
        padding: rem(39px) rem(10px);
        display: block;
        font-size: rem(12.5px);
        color: white;
        &:hover {
            color: $gold;
        }
    }
    &__underline {
        width: rem(89px);
        height: rem(3px);
        position: absolute;
        bottom: rem(-2px);
        left: 0;
        background: $gold;
    }
}