.partners {
    background: rgba(black, .05);
    padding: rem(111px) 0 rem(175px);
    &-title {
        &:after {
            display: block;
            content: '';
            height: rem(1px);
            width: rem(222px);
            border-bottom: rem(1px) solid black;
            margin: 0 auto;
            margin-top: rem(20px);
        }
        margin-bottom: rem(96px);
        &__decor {
            position: relative;
            outline: 1px solid red;
            &:before,
            &:after {
                position: absolute;
                content: '';
                display: block;
                width: 50px;
                outline: 1px solid red;
                top: 0;
                height: 100%;
            }
            &:before {
                left: -60px;
            }
            &:after {
                right: -60px;
            }
        }
    }
    &-slider {
        position: relative;
        &-list {
            @extend %list;
            margin: 0 rem(11px);
        }
        &-item {
            height: rem(100px);
            outline-offset: -1px;
        }
        &__link {
            height: inherit;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: inherit;
        }
        &__img {
            display: block;
            margin: 0 auto;
        }
    }
}