.partners {
    background: rgba(black, .05);
    padding: rem(122px) 0 rem(168px);
    &-title {
        &-wrap {
            &:after {
                display: block;
                content: '';
                height: rem(1px);
                width: rem(222px);
                margin: rem(33px) auto 0;
                border-bottom: rem(1px) solid black;
            }
        }
        position: relative;
        &:before,
        &:after {
            position: absolute;
            content: '';
            height: 100%;
            width: rem(32px);
            background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.192667 13.5936' height='13.594' width='30.193'%3E    %3Cg fill='%23222'%3E        %3Cpath d='M0 2.018h21.523V0H0zM0 7.806h30.193v-2.02H0zM0 13.594h21.523v-2.018H0z'/%3E    %3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: rem(32px);
            background-position: center;
            top: 0;
        }
        &:before {
            left: rem(-64px);
            transform: scaleX(-1);
        }
        &:after {
            right: rem(-64px);
        }
    }
    &-slider {
        margin-top: rem(74px);
        position: relative;
        &-list {
            @extend %list;
            margin: 0 rem(11px);
        }
        &-item {
            height: rem(100px);
        }
        &__link {
            height: inherit;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: inherit;
            outline: none;
        }
        &__img {
            display: block;
            margin: 0 auto;
        }
    }
}