@function programsPath($path) {
    @return url('../img/blocks/programs/'+$path);
}

.programs {
    padding-top: rem(80px);
    position: relative;
    &-header {
        margin-bottom: rem(58px);
    }
    &-prev {
        @extend %clearfix;
        padding-top: rem(97px);
        color: black;
        &-info {
            padding-top: rem(7px);
            position: relative;
            z-index: 1;
            float: left;
            margin-bottom: rem(80px);
            .btn {
                margin-left: rem(2px);
            }
        }
    }
    &__img {
        float: left;
        width: rem(641px);
        position: relative;
        z-index: 1;
        margin-right: rem(57px);
        img {
            width: 100%;
        }
    }
    &__bg-title {
        font-size: rem(200px);
        color: #dddddd;
        position: absolute;
        top: 0;
        right: rem(71px);
        font-family: 'RobotoBlack';
        text-transform: uppercase;
        line-height: 1;
        pointer-events: none;
    }
    &-misc-list {
        @extend %list;
        margin-left: rem(2px);
        margin-bottom: rem(24px);
        li {
            margin-bottom: rem(19px);
            &:before {
                content: none;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .icon {
            margin-right: rem(15px);
            margin-bottom: rem(3px);
        }
    }
    &__course-name {
        color: #2b2b2b;
        font-size: rem(30px);
        font-family: 'GeorgiaBold';
        margin-bottom: rem(59px);
    }
    &__price {
        padding-left: rem(3px);
        font-size: rem(58px);
        font-family: 'GeorgiaBold';
        line-height: 1;
        margin-bottom: rem(23px);
    }
    &__currency {
        font-size: rem(31px);
        vertical-align: middle;
    }
    &-about {
        &-list {
            @extend %list;
            &>li {
                width: rem(320px);
                margin-right: rem(96px);
                display: inline-block;
                vertical-align: top;
                &:last-child {
                    margin-right: 0;
                }
            }
            margin-bottom: rem(53px);
        }
        &__title {
            width: inherit;
            display: table-cell;
            height: rem(90px);
            border-top: rem(1px) solid #939393;
            letter-spacing: .075em;
            line-height: 1.5;
            vertical-align: bottom;
            margin-bottom: rem(18px);
            @extend .title;
            @extend .title_sm;
        }
        &__content {
            margin-top: rem(33px);
            margin-left: rem(1px);
            ul {
                @extend %list;
                margin-top: rem(10px);
            }
            li {
                &:before {
                    content: '- ';
                    display: inline;
                }
            }
        }
    }
    &__bg {
        &-top-left,
        &-top-right,
        &-bottom-left,
        &-bottom-right {
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &-top-left {
            background-image: programsPath('coffebean3_2x.png');
            top: rem(163px);
            left: rem(-38px);
            height: rem(221px);
            width: rem(221px);
            background-size: rem(171.5px);
            background-position: top left;
        }
        &-top-right {
            background-image: programsPath('coffebean2.png');
            height: rem(232.5px);
            width: rem(232.5px);
            background-size: rem(193.5px);
            top: rem(675px);
            right: rem(-104px);
            background-position: top right;
        }
        &-bottom-left {
            background-image: programsPath('Espresso-servis-coffeefly-02.png');
            width: rem(220px);
            height: rem(220px);
            background-size: rem(192px);
            left: rem(26px);
            bottom: rem(-96px);
            background-position: bottom left;
        }
        &-bottom-right {
            background-image: programsPath('wood-coffee-beans-coffee1.png');
            background-size: rem(883.5px);
            right: rem(-73px);
            bottom: 0;
            width: rem(983.5px);
            height: rem(983.5px);
            opacity: .16;
            background-position: bottom right;
        }
    }
}