@function topPath($path) {
    @return url('../img/blocks/top/'+$path);
}

.top {
    height: 100vh;
    background-image: url('../img/layout/mask-white.png'), topPath('background.png');
    background-size: contain, cover;
    background-position: center bottom, center;
    background-repeat: no-repeat;
    position: relative;
    &-wrap {
        text-align: center;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        position: absolute;
        background-position: top center, bottom center;
        background-repeat: no-repeat;
        background-size: rem(91px), rem(154px);
        padding: rem(43px) 0 rem(34px);
    }
    .title {
        color: white;
    }
    &-title {
        font-size: rem(22px);
        letter-spacing: -.02em;
        &_lg {
            font-size: rem(57px);
            letter-spacing: .106em;
            margin-bottom: rem(29px);
        }
        &_sm {
            letter-spacing: .014em;
            $arrows-margin: rem(84px);
            font-size: rem(17px);
            margin-bottom: rem(26px);
            &:before,
            &:after {
                margin-bottom: rem(4px);
                display: inline-block;
                content: '';
                width: rem(102px);
                height: rem(8px);
                background-repeat: no-repeat;
                background-size: cover;
                vertical-align: middle;
            }
            &:before {
                margin-right: $arrows-margin;
                background-position: right center;
                transform: scaleX(-1);
            }
            &:after {
                margin-left: $arrows-margin;
                background-position: left center;
            }
        }
    }
    &__scroll {
        position: absolute;
        bottom: 0;
        a {
            margin: 0 auto;
            display: block;
            width: rem(61px);
            height: rem(61px);
            border-radius: 50%;
            border: rem(1px) solid white;
            background-image: topPath('arrow-down.png');
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__bg-granola {
        background-image: topPath('granola.png');
        width: rem(240px);
        height: rem(240px);
        position: absolute;
        bottom: rem(-40px);
        right: rem(95px);
        background-size: cover;
        z-index: 5;
    }
}