extends ../templates/page.pug

block variables
    - title = "Barista Training In Amsterdam"

block content
    a(href="#").scroll.scroll-to-top
    include ../blocks/header.pug
    include ../blocks/top.pug
    include ../blocks/programs.pug
    include ../blocks/gallery.pug        
    include ../blocks/testimonials.pug
    include ../blocks/partners.pug
    include ../blocks/feedback.pug
    include ../blocks/footer.pug