extends ../templates/page.pug

block variables
    - title = "Barista Training In Amsterdam"

block content
    include ../layout/header.pug
    include ../blocks/top.pug
    include ../blocks/programs.pug
    include ../blocks/gallery.pug
    div
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas distinctio quod corporis veniam quam beatae error deleniti, ex recusandae modi assumenda vero. Debitis aliquam fuga, totam porro ipsam sed doloremque.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas distinctio quod corporis veniam quam beatae error deleniti, ex recusandae modi assumenda vero. Debitis aliquam fuga, totam porro ipsam sed doloremque.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas distinctio quod corporis veniam quam beatae error deleniti, ex recusandae modi assumenda vero. Debitis aliquam fuga, totam porro ipsam sed doloremque.
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas distinctio quod corporis veniam quam beatae error deleniti, ex recusandae modi assumenda vero. Debitis aliquam fuga, totam porro ipsam sed doloremque.
        
    include ../blocks/testimonials.pug
    include ../blocks/feedback.pug
    include ../layout/footer.pug