extends ../templates/page.pug

block variables
    - title = "Barista Training In Amsterdam"

block content
    include ../layout/header.pug
    include ../blocks/top.pug
    include ../blocks/programs/programs.pug
    include ../blocks/gallery.pug        
    include ../blocks/testimonials.pug
    include ../blocks/partners.pug
    include ../blocks/feedback.pug
    include ../layout/footer.pug