section.feedback#feedbackSection
    .bg-el.feedback__bg-left
    .bg-el.feedback__bg-right
    .container
        .feedback-wrap
            h1.title.feedback-title Have questions?
            .subtitle.feedback-subtitle Leave a request and we will contact you shortly
            form.feedback-form
                .feedback-form-section
                    input(type="text" name="name" id="name" placeholder="Your name" required pattern="^[ a-zA-Zа-яА-ЯіІїЇёЁъ-]*$")
                    input(type="text" name="phone" id="phone" placeholder="Contact number" required pattern="^[0-9() -]{15}$")
                .feedback-form-section.feedback-form-section_right
                    button(type="submit").btn_trsp.feedback__submit Send