section.gallery.darkblock#gallerySection
    .bg-el.gallery__bg
    .container
        h1.title.gallery-title-wrap
            span.gallery-title Gallery
        .subtitle You yourself are testing the taste benefits of each method
            br
            | and select the type of cooking yourself
    .gallery-slider
        ul.gallery-slider-list
            li.gallery-slider-item
                img(src="./img/blocks/gallery/slide2.jpg")
            li.gallery-slider-item
                img(src="./img/blocks/gallery/slide3.jpg")
            li.gallery-slider-item
                img(src="./img/blocks/gallery/slide1.jpg")
        .gallery-slider-nav
            a(href="#").gallery-slider__toggle.gallery-slider__toggle_prev
            span.gallery-slider__count#galleryActiveNumber 5
            span.gallery-slider__text  from 
            span.gallery-slider__count#galleryTotal 10
            a(href="#").gallery-slider__toggle.gallery-slider__toggle_next