.gallery
    .container Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod adipisci quaerat qui illo nemo totam magnam sunt rem? Consectetur ab quae officia, reiciendis facilis distinctio quod eum dolorum odit quas.