header.header
    .header-right
        nav.nav
            ul
                li
                    a(href="#programsSection") Program
                li
                    a(href="#gallerySection") Gallery
                li
                    a(href="#testimonialsSection") Reviews
                li
                    a(href="#partnersSection") Partners
                li
                    a(href="#feedbackSection") Contact
            .nav__underline
        .header__tel
            a(href="tel:+380996611730") 
                span.header__tel_light +
                |38 
                span.header__tel_light (
                |099
                span.header__tel_light )
                |  66
                span.header__tel_light -
                | 11
                span.header__tel_light -
                | 730