.partners
    .title.partners-title Our partners
    .partners-slider
        ul.partners-slider-list
            each logo in ['abajour_logo','altbee_logo','dedushka_logo','gdeburger_logo','logo_baden_baden','logo_klass']
                li.partners-slider-item
                    img(src="./img/blocks/partners/" + logo + '.png')