section.testimonials
    .container
        h1.title Testimonials
        .subtitle We have enough patience to teach you the art of coffee
        .testimonials-slider
            ul.testimonials-slider-list
                - var n = 0
                    li.testimonials-slider-item
                        .testimonials-slider__img
                            img(src="./img/blocks/testimonials/nikandrov.png")
                        h2.title.title_sm Alex Nikandrov
                        blockquote.testimonials-slider__text
                            | Our company is grateful for the delicious and freshly roasted coffee in our office every day! Our staff of more than 300
                            br
                            | people, appreciate quality and flavor of the coffee, because that would be important for our office staff were every morning
                            br
                            | refreshed and in a good mood! Recommended!
                while n < 5
                    li.testimonials-slider-item
                        .testimonials-slider__img
                            img(src="./img/blocks/testimonials/nikandrov.png")
                        h2.title.title_sm Other slide ##{n}
                        blockquote.testimonials-slider__text
                            | Lorem ipsum dolor sit amet...
                        - n++
            .slider-nav
                a(href="#").slider__toggle.slider__toggle_prev
                a(href="#").slider__toggle.slider__toggle_next