section.top.darkblock#topSection
    hgroup.top-wrap
        h2.top-title.top-title_sm
            span.top-title__decor-top Intensive program barista training
        h1.title.top-title_lg Barista training in 
            span.accent Amsterdam
        h2.top-title
            span.top-title__decor-bottom On the basis of the company's largest coffee roasters
        a(href="#").top__scroll
.bg-el.top__bg-el-granola