.tabs {
    &-nav {
        border-bottom: rem(1px) solid #c6c6c6;
        text-align: center;
        position: relative;
        ul {
            @extend %list;
        }
        li {
            display: inline-block;
            &.active,
            &:hover {
                a {
                    color: black;
                }
            }
        }
        a {
            @extend %title;
            text-decoration: none;
            color: #adadad;
            font-size: rem(21px);
            letter-spacing: .12em;
            display: block;
            padding: rem(30px) rem(100px);
            outline: none;
        }
    }
    &-pages {
        &>ul {
            @extend %list;
            &>li {
                display: none;
                position: relative;
                animation-name: tabs;
                animation-duration: 700ms;
                // animation-iteration-count: infinite;
                &.active {
                    display: block;
                }
            }
        }
    }
    &__underline {
        width: rem(250px);
        height: rem(3px);
        position: absolute;
        bottom: rem(-2px);
        left: 0;
        background: black;
        position: absolute;
    }
}

@keyframes tabs {
    0% {
        opacity: 0;
        transform: translateX(-1%);
    }
    100% {
        opacity: 1;
    }
}