section.programs
    .programs__bg-top-left
    .programs__bg-top-right
    .programs__bg-bottom-left
    .programs__bg-bottom-right
    .container
        hgroup.programs-header
            h1.title.programs-title-wrap
                span.programs-title Programs
            .subtitle We share their experience and professional barista championships multiple winners
        .tabs
            .tabs-nav
                ul
                    li
                        a(href="#") Basic
                    li
                        a(href="#") Premium
                    li
                        a(href="#") Platinum
                .tabs__underline
            .tabs-pages
                ul
                    li
                        article
                            include ./programs-basic.pug
                    li
                        article
                            include ./programs-premium.pug
                    li
                        article
                            include ./programs-platinum.pug