.programs-prev
    .programs__bg-title Premium
    .programs__img
        img(src="./img/blocks/programs/basic/preview.gif")
    .programs-prev-info
        .programs__course-name Premium Course
        ul.programs-misc-list
            li
                span.icon.icon-certificate
                | Certificate
            li
                span.icon.icon-clock
                | 640 minets
        .programs__price 1 500
            span.programs__currency usd
        a(href="#" target="_blank").btn Registration
.programs-about
    ul.programs-about-list
        li
            .programs-about__title
                span Provenance
                    br
                    | Coffee and basic concepts:
            .programs-about__content
                | Legend of the origin of coffee
                ul
                    li Chronicle of the spread of the coffee tree
                    li What is coffee?
                    li The structure of the coffee berry
                    li Arabica and Robusta
                    li Coffee Belt land
                    li Fruiting coffee tree
                    li Seven steps of the coffee plantation to the consumer
                    li Breeding and hybridization of coffee tree
        li
            .programs-about__title
                span Coffee production technology:
            .programs-about__content
                ul
                    li Methods for collecting coffee berries
                    li Processing collected berries
                    li Calibration and sorting
                    li Some methods of classification and labeling of coffee beans.
                    li Formation of grade names.
                    li Storage of green (not fried) Coffee
        li
            .programs-about__title
                span Roasting technology
                    br
                    | bean. And stage
                    br
                    | types of roasting.
            .programs-about__content
                ul
                    li The technology of roasting coffee beans.
                    li Changes in the beans.
                    li Stages and types of roasting.
                    li Roasted coffee. Monosorta and hood.
                    li Decaffeination of coffee
                    li Flavoring
                    li Storage roasted coffee
    .title.title_sm The course also includes
    table
        tbody
            tr
                td
                    span.icon.icon-ok
                td Coffee machine and grinder - practice - types of coffee machines and coffee grinders
            tr
                td
                    span.icon.icon-ok
                td What makes professional coffee machines and coffee grinders.
            tr
                td
                    span.icon.icon-ok
                td Main components of coffee machines and coffee-Lathes, autolathes. Their purpose
            tr
                td
                    span.icon.icon-ok
                td How to choose a coffee machine and coffee grinder
            tr
                td
                    span.icon.icon-ok
                td The structure of the machine. How to maintain, clean and customize coffee machine
            tr
                td
                    span.icon.icon-err
                td The structure of the grinders. How to maintain, clean and customize coffee Molko
            tr
                td
                    span.icon.icon-ok
                td Making beverages - praktika- machines and espresso rules
            tr
                td
                    span.icon.icon-err
                td Technology and regulations frothed milk
            tr
                td
                    span.icon.icon-err
                td Terms of tasting coffee
            tr
                td
                    span.icon.icon-ok
                td Terms of preparation of standard drinks line: espresso, cappuccino, latte and others.
            tr
                td
                    span.icon.icon-ok
                td Latte Art - Features practice and the importance of Latte Art in business and the barista
            tr
                td
                    span.icon.icon-ok
                td 1 views Latte Art - Pitching
            tr
                td
                    span.icon.icon-ok
                td 2 views Latte Art - topping
            tr
                td
                    span.icon.icon-err
                td 3 views Latte Art - Etching
            tr
                td
                    span.icon.icon-err
                td 4 views Latte Art - chocolate chip stencils