$html-font-size:16px;
$transition: 200ms;
$gold: #eab96a;
@import './_misc/mixins.scss';
@import './tags.scss';
@import './style.scss';
@import './icons.scss';
@import './layout/header.scss';
@import './blocks/top.scss';
@import './blocks/programs.scss';
@import './elements/tabs.scss';