@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Georgia';
    font-weight: normal;
    src: url('../fonts/Georgia.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Georgia';
    font-weight: normal;
    src: url('../fonts/Georgia-Bold.ttf');
    font-weight: bold;
}

.container {
    width: rem(1180px);
    margin: 0 auto;
}

%title {
    font-family: 'Roboto';
    font-weight: bold;
    text-transform: uppercase;
}

.title {
    @extend %title;
    font-size: rem(50px);
    text-align: center;
    letter-spacing: .1em;
    color: black;
    margin: 0 0 rem(30px);
    line-height: 1.19;
    &_sm {
        font-size: rem(17px);
        text-align: left;
        margin: 0 0 rem(23px);
    }
}

.subtitle {
    text-align: center;
    letter-spacing: -.01em;
}

.darkblock {
    color: white;
    background-color: #222121;
    .title {
        color: white;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
    }
}

.btn {
    @extend button;
    &_trsp {
        background: transparent;
        color: black;
        border-radius: 0;
    }
}

.accent {
    color: $gold;
}

.slider {
    &__toggle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding: rem(50px);
        outline: none;
        &_prev {
            left: rem(-45px);
            background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='18' viewBox='0 0 10 18'%3E    %3Cpath stroke='%23485260' stroke-width='2' d='M1 10l8-8M1 9l8 8'/%3E%3C/svg%3E");
        }
        &_next {
            right: rem(-45px);
            background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='18' viewBox='0 0 10 18'%3E    %3Cpath stroke='%23485260' stroke-width='2' d='M9 10L1 2M9 9l-8 8'/%3E%3C/svg%3E");
        }
    }
}

.bg-el {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: 10;
}

.fb-link {
    width: rem(38px);
    height: rem(38px);
    background-color: #4267b2;
    background-image: url('../img/interface/icon-facebook.png');
    background-size: rem(11px);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
}

.scroll {
    display: block;
    width: rem(61px);
    height: rem(61px);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: rem(14px);
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='9' viewBox='0 0 15 9'%3E    %3Cpath stroke='%23eab96a' stroke-width='2' d='M1 1l7 7M14 1L7 8'/%3E%3C/svg%3E");
    &:hover {
        background-color: rgba($gold, .1);
        border-color: $gold;
    }
}

.scroll-to-top {
    position: fixed;
    transform: rotate(180deg);
    z-index: 15;
    right: rem(40px);
    background-color: rgba(black, .8);
    bottom: rem(-80px);
    animation-name: scrollTopBtn;
    animation-duration: 300ms;
    animation-direction: reverse;
    &:hover {
        background-color: rgba(black, 1);
    }
    &.active {
        bottom: rem(40px);
        animation-direction: normal;
    }
}

@keyframes scroll-top-btn {
    0% {
        bottom: rem(-80px);
    }
    100% {
        bottom: rem(40px);
    }
}