@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia.ttf');
}

@font-face {
    font-family: 'GeorgiaBold';
    src: url('../fonts/Georgia-Bold.ttf');
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.ttf');
}

.container {
    width: rem(1180px);
    margin: 0 auto;
}

%title {
    font-family: 'RobotoBlack';
    text-transform: uppercase;
}

.title {
    @extend %title;
    font-size: rem(50px);
    text-align: center;
    letter-spacing: .1em;
    color: black;
    margin-bottom: rem(19px);
    &_sm {
        font-size: rem(17px);
        text-align: left;
        margin-bottom: rem(18px);
    }
}

.subtitle {
    text-align: center;
    letter-spacing: -.01em;
}

.darkblock {
    color: white;
    .title {
        color: white;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
    }
}

.lightblock {
    background: url('../img/backgrounds/background-light.png');
    background-size: rem(200px);
}

.btn {
    @extend button;
    &_trsp {
        background: transparent;
        color: black;
        border-radius: 0;
        &:hover {
            background: black;
            color: white;
        }
    }
}

.accent {
    color: $gold;
}