*,
*:after,
*:before {
    box-sizing: border-box;
}

*:focus {
    outline: rem(1px) dotted black;
    outline-offset: rem(3px);
}

body {
    font-family: 'Georgia';
    line-height: 1.625;
    color: #485260;
    letter-spacing: -.01em;
    overflow-x: hidden;
    background: url('../img/backgrounds/background-light.png');
    background-size: rem(200px);
}

a {
    transition: $transition;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'RobotoBlack';
    color: black;
}

button,
input[type="button"],
input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    background: black;
    border-radius: rem(2px);
    border: rem(1px) solid black;
    font-family: 'RobotoBlack';
    font-size: rem(14px);
    color: white;
    text-transform: uppercase;
    letter-spacing: .08em;
    padding: rem(17px) rem(60px);
    cursor: pointer;
    width: auto;
    @extend %hover;
    &[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }
}

input {
    border: none;
    border-bottom: rem(1px) solid black;
    font-family: 'RobotoBlack';
    font-size: rem(12.5px);
    text-transform: uppercase;
    letter-spacing: .04em;
    padding: rem(11px) 0;
    width: rem(382px);
    &::placeholder {
        color: black;
    }
    &:invalid {
        border-color: #751818;
        color: #751818;
    }
}

table {
    border-collapse: collapse;
    border: rem(1px) solid black;
}

td,
th {
    padding: rem(6px) rem(16px) rem(5px);
    border: rem(2px) solid black;
}