*,
*:after,
*:before {
    box-sizing: border-box;
}

*:focus {
    outline: rem(1px) dotted black;
    outline-offset: rem(3px);
}

body {
    font-family: 'Georgia';
    line-height: 1.625;
    color: #485260;
    letter-spacing: -.01em;
    overflow-x: hidden;
    background: url('../img/layout/background.png');
    background-size: rem(200px);
}

a {
    transition: $transition;
    &:hover {
        color: $gold;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'RobotoBlack';
    color: black;
}

button,
input[type="button"],
input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    background: black;
    border-radius: rem(2px);
    border: rem(1px) solid black;
    font-family: 'RobotoBlack';
    font-size: rem(14px);
    color: white;
    text-transform: uppercase;
    letter-spacing: .08em;
    padding: rem(18px) rem(66px) rem(18px);
    cursor: pointer;
    width: auto;
    line-height: 1.4;
    @extend %hover;
    &[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }
    &:hover {
        color: black;
        cursor: pointer;
        background: $gold;
        opacity: 1;
        box-shadow: 0 0 rem(15px) rem(1px) $gold;
    }
}

input {
    border: none;
    border-bottom: rem(1px) solid black;
    font-family: 'RobotoBlack';
    font-size: rem(12.5px);
    text-transform: uppercase;
    letter-spacing: .04em;
    padding: rem(11px) 0 rem(12px);
    width: rem(382px);
    background: transparent;
    display: block;
    margin: 0 0 rem(45px);
    &:last-child {
        margin-bottom: 0;
    }
    &::placeholder {
        color: black;
    }
    &:invalid {
        border-color: #751818;
        color: #751818;
    }
    &:focus {
        &::placeholder {
            color: #555;
        }
    }
}

table {
    border-collapse: collapse;
    border: rem(1px) solid black;
}

td,
th {
    padding: rem(6px) rem(17px) rem(6px);
    border: rem(1px) solid black;
}